.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #e1651a;
    }
}

.text {
    color: red;
    font-size: 1.2rem;
    text-decoration: underline;
}

.textbox {
    color: white;
    font-size: 0.8rem;
    height: 38px;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        background: rgb(128, 128, 128, 0.3);
    }
}

.rounded {
    color: var(--white);
    font-size: 1.2rem;
    background-color: var(--common);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #305e55;
    }
}

.large {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 15px;
    box-shadow: 0px 2px 1px 1px #999999;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #ece3e3d6;
    }
}

.accountName {
    color: white;
    height: 30px;
    background-color: rgb(128, 128, 128, 0.3);
    border-radius: 5px;
}
