@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

//Font
$font-family-montserrat: 'Montserrat', sans-serif;

//Color
$black: #000;
$white: #fff;
$orange: #d55b13;
$default-color: #1b3630;
$blue-main-color: #285d9a;

$bg-nav-color: #edf2f7;

//Width - Height
$sidebar-width: 266px;
$item-sidebar-height: 24px;
