@use '../../../styles/' as *;

//Menu wrapper
.menu-list {

    .menu-item {
        margin-left: 0 !important;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

//Menu items

.menu-item {
    max-height: inherit;
    position: relative;
    top: 100%;
    color: #292929;
    background-color: #292929;

    &:hover {
        background-color: #777777cc;
    }
}
